backend/app/accounts/migrations/0001_initial.py
backend/app/combo/migrations/0001_initial.py
backend/app/company/migrations/0001_initial.py
backend/app/expense/migrations/0001_initial.py
backend/app/feedstock/migrations/0001_initial.py
backend/app/fixed_expense/migrations/0001_initial.py
backend/app/pricing/migrations/0001_initial.py
backend/app/product/migrations/0001_initial.py
backend/app/supply/migrations/0001_initial.py
backend/app/variable_expense/migrations/0001_initial.py
