dialogButtonAlone {
  justify-content: center;
  padding: 2rem;
}
dialogButtonContainer {
  padding: 2rem;
}


paperClassDialogContent {
  overflow: visible;
}


rootClassDialogContent {
  padding-top: 0;
}


closeButton {
  position: absolute;
    right: 1rem;
    top: 1rem;
    color: 'grey'
}


dialogTitleRoot {
  margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

noPaddingContent {
  padding: 0 !important;
}

