<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroCustos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="post" action="{% url 'rest_login' %}">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <div><button type="submit">Entrar</button></div>
        </form>
        <p><a href="{% url 'reset_password' %}">Esqueceu a senha?</a></p>
        <p><a href="{% url 'signup' %}">Não tem uma conta? Cadastre-se</a></p>
    </div>
</body>
</html>
