<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GastroCustos</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> {% endcomment %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/fc8d8805f6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md-4 col-lg-2 min-vh-100 d-flex flex-column justify-content-between">
          <div class="bg-dark p-2">
            <a class="d-flex text-decoration-none m-1 align-items-center text-white"><span class="fs-4 ms-3 d-none d-sm-inline">GastroCustos</span></a>
            <ul class="nav nav-pills flex-column mt-4">
              <li class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white"><i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Home</span></a>
              </li>
              <li class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white"><i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Home</span></a>
              </li>
              <li class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white"><i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Home</span></a>
              </li>
              <li class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white"><i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Home</span></a>
              </li>
              <li class="nav-item py-2 py-sm-0">
                <a href="#" class="nav-link text-white"><i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Home</span></a>
              </li>
            </ul>
          </div>
          <div class="dropdown open p-3">
            <button type="button" class="btn border-none dropdown-toggle text-white" id="triggerId" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i><span class="ms-2">You</span></button>
            <ul class="dropdown-menu" aria-labelledby="triggerId">
              <li>
                <button class="dropdown-item" href="#">Perfil</button>
              </li>
              <li>
                <button class="dropdown-item" href="#">Sair</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-3">
          <h2>PAGINA</h2>
        </div>
      </div>
    </div>
  </body>
</html>
